    .container-articles {
        width: 100%;
    }
    
    .title {
        display: inline-flex;
        padding: 5px 20px;
        .back-arrow {
            cursor: pointer;
            outline: 0 none;
            color: #1da1f2;
        }
        i {
            font-size: 20px;
            padding: 10px;
            margin-right: 10px;
            color: #1da1f2;
        }
        .name {
            margin: 0;
            font-size: 20px;
            font-weight: 800;
        }
        .counter {
            font-size: 12px;
        }
    }