<div class="card-article">
    <div class="avatar">
        <img src="{{picture}}">
    </div>
    <div class="card-content">
        <div class="header-line">
            <div class="header-card" routerLink="/user/{{tag}}">
                <span class="name">{{name}}</span>
                <span class="tag">@{{tag}}</span>
                <span>.</span>
                <span class="date"><time [dateTime]="article.createdAt">{{computedTime}}</time></span>
            </div>
            <div *ngIf="id===user.id && isEditable == false" class="edit-buttons">
                <i (click)="editArticle()" class="fas fa-edit"></i>
                <i (click)="openModal('delete', article._id)" class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="body-card">
            <div *ngIf="isEditable" class="edition">
                <textarea [(ngModel)]="text" class="form-control"></textarea>
                <div class="publish">
                    <button class="save-button btn" (click)="saveModif()">Enregitrer</button>
                </div>
            </div>
            <p *ngIf="isEditable == false">{{text}}
            </p>
        </div>
        <div class="image-container">
            <img src={{image}} alt="">
        </div>
        <div class="footer-card">
            <div class="likes">
                <div>
                    <i (click)="likeHandle()" [ngClass]="liked ? 'fas' : 'far'" class="fa-heart"></i>
                </div>
                <p class="count">{{likes}}</p>
            </div>
        </div>
    </div>
</div>