    .card-article {
        display: inline-flex;
        width: 100%;
        margin: 0 auto;
        padding: 12px 16px;
        border: 1px solid rgb(235, 238, 240);
        border-left: none;
        border-right: none;
        border-top: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        .avatar {
            height: 100%;
            margin-right: 10px;
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
        .header-line {
            display: flex;
            justify-content: space-between;
            i {
                font-size: 20px;
                margin: 0 10px;
                cursor: pointer;
            }
        }
        .header-card {
            display: inline-flex;
            cursor: pointer;
            outline: 0 none;
            .name {
                line-height: 20px;
                font-weight: 700;
            }
            .tag {
                line-height: 20px;
                padding: 0 5px;
                font-weight: 400;
            }
            .date {
                padding-left: 5px;
            }
        }
        .card-content {
            width: 100%;
            textarea {
                width: 100%
            }
        }
        .content-article {
            a.link-article {
                cursor: pointer!important;
            }
        }
        .footer-card {
            display: flex;
            div {
                display: inline-flex;
            }
            i {
                font-size: 20px;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    
    .publish {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .save-button {
            margin: 5px 0;
            background-color: rgb(29, 161, 242);
            color: white;
            border-radius: 19px;
            font-weight: 700;
            width: 100px;
        }
    }
    
    .likes {
        color: rgb(91, 112, 131);
        .count {
            font-weight: 700;
            font-size: 16px;
            margin-left: 5px;
            line-height: 18px;
            vertical-align: middle;
        }
    }
    
    .image-container {
        width: 100%;
        img {
            width: 250px;
            display: flex;
            margin: 0 auto;
        }
    }
    
    .url-preview {
        border: 1px solid rgb(235, 238, 240);
        margin-bottom: 10px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: rgb(33, 37, 41);
        }
        .url-preview-text {
            padding: 10px 12px;
            background-color: rgb(242, 243, 245);
            .domain {
                font-size: 12px;
                color: #606770
            }
            p {
                margin: 0
            }
        }
    }