<div class="user-follow">
    <div class="avatar">
        <img src="{{picture}}">
    </div>
    <div class="header-card" routerLink="/user/{{tag}}">
        <div class="username">
            <span class="name">{{name}}</span>
        </div>
        <div>
            <span class="tag">@{{tag}}</span>
        </div>
    </div>
    <div class="button-container">
        <button *ngIf="isFollowed == false" class="follow-button btn" (click)="follow()" type="button">
            <span>Suivre</span>
        </button>
        <button *ngIf="isFollowed" class="followed-button btn" (click)="unfollow()" type="button">
            <span>Abonné</span>
        </button>
    </div>
</div>