<div class="user-follow" (mouseover)="displayPreview($event)" (mouseout)="hidePreview()">
    <div class="avatar">
        <img src="{{picture}}">
    </div>
    <div class="header-card" routerLink="/user/{{tag}}">
        <div class="username">
            <span class="name">{{name}}</span>
        </div>
        <div>
            <span class="tag">@{{tag}}</span>
        </div>
    </div>
    <div *ngIf="isAuthenticated" class="button-container">
        <button *ngIf="isFollowed == false" class="follow-button btn" (click)="follow()" type="button">
            <span>Suivre</span>
        </button>
        <button *ngIf="isFollowed" class="followed-button btn" (mouseover)="changeText=true" (mouseout)="changeText=false" (click)="unfollow()" type="button">
            <span *ngIf="!changeText">Abonné</span>
            <span *ngIf="changeText">Se désabonner</span>
        </button>
    </div>
</div>
<div #previewAccount id="preview-account">
    <app-account-preview [account]="account"></app-account-preview>
</div>