<div *ngIf="isLoaded" class="preview-card-container">
    <div class="preview-card-header">
        <div class="avatar">
            <img src="{{picture}}">
        </div>
        <div class="button-container">
            <button *ngIf="isFollowed == false" class="follow-button btn" type="button">
                <span>Suivre</span>
            </button>
            <button *ngIf="isFollowed" class="followed-button btn" (mouseover)="changeText=true" (mouseout)="changeText=false" (click)="unfollow()" type="button">
                <span *ngIf="!changeText">Abonné</span>
                <span *ngIf="changeText">Se désabonner</span>
            </button>
        </div>
    </div>
    <div class="preview-card-name" routerLink="/user/{{tag}}">
        <span class="name">{{name}}</span>
        <span class="tag">@{{tag}}</span>
    </div>
    <div class="preview-card-footer">
        <p>{{followers}}<span class="follower"> abonnés</span></p>
        <p>{{following}}<span>abonnements</span></p>
    </div>
</div>