.sidebar-container {
    border: 1px solid #ebeef0;
    height: 100%;
    width: 350px;
    .header {
        font-size: 24px;
        font-weight: 700;
        border-bottom: 1px solid #ebeef0;
        margin: 0;
        padding: 5px;
    }
}

.table-abonnement {
    padding: calc(var(--bs-gutter-x)/ 2) 0;
}