<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-container">
            <a class="navbar-brand logo-container" href="/truitteur-app-front/"><img class="logo" src="https://whispering-river-67114.herokuapp.com/upload/8a72c000f6a80048ab4f640efdc48f0e.png" alt=""></a>
            <div class="links">
                <div>
                    <a class="" href="/truitteur-app-front/">Accueil</a>
                </div>
                <div>
                    <a class="" href="/truitteur-app-front/user/{{tag}}">Profil</a>
                </div>
            </div>
            <div *ngIf="isAuthenticated" class="publish-button">
                <a class="login-button btn" (click)="openModal('publish')">
                    <span>Publier</span>
                </a>
            </div>
            <div *ngIf="isAuthenticated == false" class="connection-buttons">
                <a class="login-button btn" (click)="openModal('login')">
                    <span>Se connecter</span>
                </a>
                <a class="register-button btn" (click)="openModal('register')">
                    <span>S'inscrire</span>
                </a>
            </div>
            <div *ngIf="isAuthenticated" class="connection-buttons">
                <a class="login-button btn" (click)="logout()">
                    <span>Se déconnecter</span>
                </a>
            </div>
        </div>
    </nav>
</div>