<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-container">
            <a class="navbar-brand logo-container" routerLink="/"><img class="logo" src="assets/logo.png" alt=""></a>
            <div class="links">
                <div class="link-line">
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <a class="" routerLink="/">Accueil</a>
                </div>
                <div *ngIf="isAuthenticated" class="link-line">
                    <div class="icon">
                        <i class="far fa-user"></i>
                    </div>
                    <a class="" routerLink="/user/{{tag}}">Profil</a>
                </div>
            </div>
            <div *ngIf="isAuthenticated" class="publish-button">
                <a class="register-button btn" (click)="openModal('publish')">
                    <span>Publier</span>
                </a>
            </div>
            <div *ngIf="isAuthenticated == false" class="connection-buttons">
                <a class="login-button btn" (click)="openModal('login')">
                    <span>Se connecter</span>
                </a>
                <a class="register-button btn" (click)="openModal('register')">
                    <span>S'inscrire</span>
                </a>
            </div>
            <div *ngIf="isAuthenticated" class="connection-buttons">
                <a class="login-button btn" (click)="logout()">
                    <span>Se déconnecter</span>
                </a>
            </div>
        </div>
    </nav>
</div>